html,
body {
  font-family: 'Amazon Ember';
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px cyan;
  background-color: aqua;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px cyan;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

.nav {
  
  background-color: #232f3e;
  padding: 0rem 0rem;
 
}

#search_btn {
  background-color: #febd69;
}

.input-group {
  width: 90%;
  margin-right: 35%;
  
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#login_btn,
#view_btn {
  background-color: #febd69;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}

#cart {
  font-size: 1rem;
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px cyan;
}



/* Home page */
#products_heading {
  margin-top: 1.8rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px cyan;
}


.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}



.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #fa9c23;
  color: rgb(209, 198, 39);
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}



/* Footer */
footer {
  margin-top: 8rem;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-right: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.page-link {
  color: #fa9c23;
}

.page-link:hover {
  color: #fa9c23;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle='collapse'] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* TELA DE LOGIN*/
.bg-color{
  background-color:aqua;
}






/* transformação do menu*/
.toggle-icon {
  display: block;
  position: absolute;
  height: 3px;
  width:100%;
  background: aqua;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 25s ease-in-out;


}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar{
    margin: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);

}

.navbar-toggler.collapsed .bottom-bar{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    transform: rotate(0deg);
}

.paragrafo3-vazio {
  height: 3em;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.avatar-spin {
  animation: spin 2s linear infinite;
  box-shadow: 2px 2px 4px rgba(0, 255, 255, 0.9);
}

@keyframes explosion {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.avatar-spinx {
  animation: explosion 1s linear;
  box-shadow: 2px 2px 4px rgba(0, 255, 255, 0.9);
  transform: scale(0);
}


.glitch-text {
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
}

.glitch-text:before,
.glitch-text:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.glitch-text:before {
  color: rgba(0, 255, 0, 0.75);
  text-shadow: none;
  z-index: -1;
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch-text:after {
  color: rgba(0, 0, 255, 0.75);
  text-shadow: none;
  z-index: -2;
  animation: glitch-anim 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    transform: skew(0deg);
  }
  25% {
    transform: skew(20deg);
  }
  50% {
    transform: skew(-20deg);
  }
  75% {
    transform: skew(10deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.avatar-explode {
  animation: explode 1s linear;
  box-shadow: 2px 2px 4px rgba(0, 255, 255, 0.9);
}


@keyframes shatter {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(0deg) translate(0, 0);
  }
  10% {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
    transform: rotate(-45deg) translate(-20px, -20px);
  }
  20% {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
    transform: rotate(45deg) translate(20px, -20px);
  }
  30% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  40% {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
    transform: rotate(45deg) translate(20px, 20px);
  }
  50% {
    clip-path: polygon(0 0, 25% 0, 25% 25%, 0 25%);
    transform: rotate(-90deg) translate(-40px, 0);
  }
  60% {
    clip-path: polygon(75% 0, 100% 0, 100% 25%, 75% 25%);
    transform: rotate(90deg) translate(40px, 0);
  }
  70% {
    clip-path: polygon(75% 75%, 100% 75%, 100% 100%, 75% 100%);
    transform: rotate(-90deg) translate(-40px, 0);
  }
  80% {
    clip-path: polygon(0 75%, 25% 75%, 25% 100%, 0 100%);
    transform: rotate(90deg) translate(40px, 0);
  }
  90% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(-180deg) translate(0, 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: rotate(0deg) translate(0, 0);
  }
}

.avatar-shatter {
  animation: shatter 1s linear;
  
  background-color: #ffffff;
}

.avatar-3d {
  position: relative;
  perspective: 1000px;
}

.avatar-3d__content {
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(30deg);
  transition: all 1.5s ease-in-out;
}
  /*FLUTUAR COMPONENTES*/
.flutuar {
  animation-name: flutuar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flutuar-parado {
  animation-name: none !important;
}

@keyframes flutuar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

/* borda no componente*/
.bordar-1 {
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/*SOMBRA PURPURA FRACA NO COMPONENTE*/
.sombra-1 {
  box-shadow: 2px 2px 4px #021f2b;

}

.sombra-5 {
  box-shadow: 2px 2px 3px #dbc6b8;
}




/*BORDAS */
.bordar-2 {
  border-radius: 0px;
  background-color: #ffffff;
  border: 8px solid #cccccc;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* BORDAS INVISIVEIS*/
.invisivel {
  border: 0px solid white;
}

/* */
.bordar-3 {
  border-radius: 10px;
  background-color: #ffffff;
  border: 8px solid #cccccc;
  padding: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.helvetica {
  font-family: 'Poppins', sans-serif;
}

.title {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



/**/

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  background-color: #ffffff;
  border-radius: 50%;
  color: #252525;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #eaeaea;
  color: #f024d5;
}

.useful-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.useful-links li {
  margin-bottom: 10px;
}

.useful-links li:last-child {
  margin-bottom: 0;
}

.useful-links a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.useful-links a:hover {
  color: #d3d3d3;
}

footer {
  background: rgba(38, 0, 77, 0.8);
  position: relative;
  overflow: hidden;
}
footer:before {
  content: "";
  background: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(1.2);
  filter: blur(20px);
}

.footer h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer p {
  color: #d3d3d3;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.footer a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #d3d3d3;
}



footer {
  background-color: rgba(38, 0, 77, 0.5); /* Define a cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Adiciona o efeito de vidro espelho */
}


.hover-effect {
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
 
}

.product-card {
  height: 100%;
}

/**/
.product-card-container-2 {
  display: relative;
  justify-content: center;
  align-items: center;
 
}

.hidden {
  padding: '';
  
}



.product-card {
  width: 200px;
  
}

.card-cover {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  perspective: 800px;
}

.card-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(0deg);
  transition: transform 0.5s;
}

.card-cover:hover img {
  transform: rotateY(180deg);
}

/* CSS DOS CONTAINERS*/
/*fixarcontainer*/

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Ajuste o valor de z-index conforme necessário */
}